<!DOCTYPE html>
<html>
  <head>
    <title><%= config.title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <a href="/"><h1><img src="/images/logo.png" class="logo" alt="Logo"> <%= config.title %></h1></a>
        <br />
        <div class="row">
          <div class="col-md-4">
            Looking to find beer-goggled love?
          </div>
          <div class="col-md-4">
            Trying to re-kindle that bromance?
          </div>
          <div class="col-md-4">
            Just looking to compare with friends?
          </div>
        </div>
        <br />

        <p>
          <% if (!loggedIn) { %>  
          <% } %>
        </p>
        <% if (loggedIn) { %>
          <a class="btn btn-primary btn-lg" href="/match">You're logged in - get matching! &raquo;</a>  
        <% }else{ %>
          <a class="btn btn-primary btn-lg" href="<%= redirectUrl %>">Get started with <%= config.title %> &raquo;
          <br /><small>We just need access to Untappd</small>
          </a>
        <% } %>
        <br /><br />
      </div>
      <hr />
      <h2 class="featurette-heading">Not convinced? <span class="text-muted">See what our users have to say! </span></h2><br/>
      <div class="row features">
        <% features.forEach(function(t){ %>
          <div class="col-md-4">
            <img class="img-circle" src="/images/features/<%= t.image %>" alt="Generic placeholder image" style="width: 140px; height: 140px;">
            <h3><%= t.name %></h3>
            <p><%= t.text %></p>
          </div><!-- /.col-lg-4 -->  
        <% }) %>
      </div>
      
      <hr />
      
      <div class="row featurette">
        <div class="col-md-6 col-md-offset-1">
          <h2 class="featurette-heading">Still need some convincing? <br /><span class="text-muted">See a sample report</span></h2>
          <p class="lead">These two unlikely lovers found their match thru <%= config.title %> - you could too.</p>
          <a class="btn btn-primary btn-lg" href="/match/sample">See the sample report &raquo;</a>  
          
        </div>
        <div class="col-md-4">
          <img class="featurette-image img-responsive img-thumbnail" alt="500x500" src="/images/sampleReport.png" data-holder-rendered="true">
        </div>
      </div>
      
      <hr />
      
      <div class="jumbotron nobg">
        <p class="lead">Convinced yet?</p>
        <% if (loggedIn) { %>
          <a class="btn btn-primary btn-lg" href="/match">You're logged in - get matching! &raquo;</a>  
        <% }else{ %>
          <a class="btn btn-primary btn-lg" href="<%= redirectUrl %>">Get started with <%= config.title %> &raquo;</a>
        <% } %>  
      </div>
      
      <hr />
      
    </div><!-- /container -->
    <div class="footer">
      <div class="container">
        <small>
          <%- config.footer() %>
        </small>
      </div>
    </div>
    
    
  </body>
</html>
